[Unit]
# Human readable name of the unit
Description=Filesystem Watcher service
After=multi-user.target
[Service]
User=armored
Type=notify
Restart=always
WorkingDirectory=/usr/local/lib/ai-image-tagging/
ExecStart=/usr/local/lib/ai-image-tagging/venv/bin/python3 /usr/local/lib/ai-image-tagging/watcher.py
Environment=PYTHONUNBUFFERED=1
[Install]
WantedBy=multi-user.target
